* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #fafafa;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.site-header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 2em 0;
}

.developer-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ddd;
}

.navigation a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    position: relative;
    left: 280px;
    margin: 20px;
    border-radius: 10px;
}

.navigation a:hover {
    background-color: #007bff;
    color: white;
    border-radius: 10px;
}

.content {
    padding: 2em;
}


.site-footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: white;
    position: relative;
    top: 50px;
    width: 100%;
}

.aslanishe{
    

}

@media screen and (max-width: 768px) {
    .developer-image,
    .profile-picture {
        float: none;
        margin: 0 auto;
        display: block;
    }
}
